.navbar {
  width: 5%;
  min-height: 100vh !important;
  height: 100%;
  background: #0b0b13;
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  scroll-snap-align: center;
}
.navbar__logo {
  width: 100%;
  height: 5rem;
  background: #3a98b9;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar__logo h3 {
  font-size: 3rem;
  font-family: "Ubantu", sans-serif;
  margin: auto;
}
h3.text-pop-up-top {
  -webkit-animation: text 1.5s ease-in-out infinite both;
  animation: text 1.5s ease-in-out infinite both;
}

.navbar__menu {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar__menu ul {
  list-style: none;
}
.navbar__menu ul li {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}
.navbar__menu ul li::after {
  width: 40px;
  content: "";
  border-bottom: 0.5px solid #ffffff1f;
  text-align: center;
}
.navbar__menu ul li svg {
  height: 80px;
  color: #fff;
  font-size: 2.3rem;
}
li.nav__link svg:hover {
  font-size: 2.8rem;
  transition: ease-in-out 0.4s;
}

.active svg {
  color: #f99417 !important;
}
.inintial__active svg {
  color: #f99417 !important;
}

a:visited {
  color: #ffffff !important;
}

.block {
  display: block;
}
.home__mobile--menu {
  z-index: 1;
}

@keyframes text {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* media query */
@media (max-width: 480px) {
  .navbar {
    width: 60px;
    height: 100vh;
  }

  .home__mobile--menu {
    width: 60px;
    height: 60px;
    background: #f99417;
    position: fixed;
    right: 20px;
    bottom: 30px;
    border-radius: 50%;
  }
  .home__mobile--menu svg {
    display: block;
    width: 50%;
    height: 100%;
    font-size: 30px;
    color: #ffff;
    margin: 0 auto;
  }
  .none {
    display: none;
    transition: opacity 0.15s ease-in-out 0s, transform 0.25s ease-in-out 0s;
    transform: translate(-50%, -50%) scale(0.7);
  }
}

@media (min-width: 478px) and (max-width: 767px) {
  .navbar {
    width: 8%;
  }
  .none {
    display: none;
    transition: opacity 0.15s ease-in-out 0s, transform 0.25s ease-in-out 0s;
    transform: translate(-50%, -50%) scale(0.7);
  }
  .home__mobile--menu {
    width: 60px;
    height: 60px;
    background: #f99417;
    position: fixed;
    right: 20px;
    bottom: 30px;
    border-radius: 50%;
  }
  .home__mobile--menu svg {
    display: block;
    width: 50%;
    height: 100%;
    font-size: 30px;
    color: #ffff;
    margin: 0 auto;
  }
}
/* @media (min-width: 769px) and (max-width: 800px) {
} */
@media (min-width: 768px) and (max-width: 1200px) {
  .navbar {
    width: 7%;
  }
}
