.works {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #0e0e17;
  scroll-snap-align: center;
  transition: ease-in 0.5s;
}
.portfolio {
  width: 100%;
  height: 100%;

  display: flex;
  padding: 100px 0 100px 0;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.portfolio h4 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #f99417;
  padding: 0px 0 80px 80px;
}
.portfolio__projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.project--details:nth-child(odd) {
  animation-name: scale-up-ver-center;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.project--details:nth-child(even) {
  animation-name: scale-up-ver-center-even;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.project--details {
  width: 350px;
  max-height: 100%;
  position: relative;
  cursor: pointer;
}

.project--details img {
  width: 350px;
  height: 350px;
}
.project--details img:hover {
  transition: all 0.55s;
}

.project__description {
  width: 100%;
  height: 100%;
  background: rgba(3, 2, 15, 0.63);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  color: rgb(248, 248, 248);
  font-size: large;
}
.project__description:hover {
  opacity: 1;
  transition: all 0.55s;
  color: #ffffff;
}

.project__tech {
  width: 100%;
  position: absolute;
  top: 50%;
}
.project__tech a {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5px;
}
.project__tech p {
  text-align: center;
  margin: 0 auto;
  opacity: 1;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  padding: 3px;
}
.project__tech p:nth-child(1) {
  font-size: 25px;
}
.project__tech p:nth-child(2) {
  padding: 2px;
  background: #f99417;
  border: 0.2px dotted black;
}
.project__tech p:nth-child(3) {
  font-size: 18px;
  margin-top: 5px;
}

@keyframes scale-up-ver-center {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-50px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes scale-up-ver-center-even {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  50% {
    transform: translateX(-100px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* media query */

@media screen and (max-width: 480px) {
  .skill {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .portfolio {
    width: 100%;
    padding-top: 25px;
  }
  .portfolio h4 {
    padding-left: 40px;
  }
  .project--details {
    width: 300px;
    height: 300px;
  }
  .project--details img {
    width: 300px;
    height: 300px;
    position: relative;
  }
}
