.homepage {
  width: 100%;
  height: 100vh;
  background: #000;
  padding: 0;
}
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home__contacts {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 25px;
  padding: 30px 0 0 100px;
  flex-wrap: wrap;
}
.home__contacts p {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #d8d8d8;
}
.home__left {
  width: 50%;
  color: #ffff;
  padding-left: 55px;
}
.home__left p {
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
.home__left h3 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
}
.home__left--status {
  font-size: 2.5rem;
  color: #f99417;
  font-family: "Ubuntu", sans-serif;
}
.home__left--btn {
  width: 150px;
  height: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  background: #191825;
  margin-top: 20px;
  padding: 5px 5px;
  border-radius: 5px 5px;
  border: 1px solid #110707;
}
.home__left--btn:hover {
  cursor: pointer;
  background: transparent;
  border: 1px solid #f99417;
  color: #f99417;
  transition: all 0.55s;
}
.home__left--btn p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  text-align: center;
}
.home__right {
  width: auto;
}
/* animation */
.animation-home {
  animation: text-flicker-in-glow 5s linear 0s 1 normal none;
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  11% {
    opacity: 1;
    text-shadow: none;
  }
  12% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  21% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(235, 165, 14, 0.25);
  }
  22% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  31% {
    opacity: 1;
  }
  32% {
    opacity: 1;
  }
  33% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  46% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
    text-shadow: none;
  }
  56% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  61% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  66% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  78% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  87% {
    opacity: 0;
    text-shadow: none;
  }
  88% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/* animation end */

/* media query */
@media (max-width: 480px) {
  .home {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home > div {
    margin: 0 20px;
  }
  .home__contacts {
    padding: 0;
    display: none;
  }
  .home__left {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .home__left p {
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
  }
  .home__left h3 {
    font-size: 3rem;
  }
  .home__left--status {
    font-size: 2rem;
  }
  .home__right {
    width: 90%;
  }
}
@media (min-width: 478px) and (max-width: 767px) {
  .home {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home > div {
    margin: 0 20px;
  }
  .home__contacts {
    padding: 0;
    display: none;
  }
  .home__left {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .home__left p {
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
  }
  .home__left h3 {
    font-size: 3rem;
  }
  .home__left--status {
    font-size: 2rem;
  }
  .home__right {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
}
