.works {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: #0e0e17;
}
.portfolio {
  width: 100%;
  height: 100%;

  display: flex;
  padding: 100px 0 100px 0;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.portfolio h4 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #f99417;
  padding: 0px 0 80px 80px;
}
.portfolio__projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.project--details:nth-child(odd) {
  animation-name: scale-up-ver-center;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.project--details:nth-child(even) {
  animation-name: scale-up-ver-center-even;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.project--details {
  width: 350px;
  width: 350px;
  max-height: 100%;
  position: relative;
  cursor: pointer;
}
.project--details img {
  width: 350px;
  height: 350px;
}
.project--details img:hover {
  transition: all 0.55s;
}

.project__description {
  width: 100%;
  height: 100%;
  background: rgba(3, 2, 15, 0.63);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  color: rgb(248, 248, 248);
  font-size: large;
}
.project__description:hover {
  opacity: 1;
  transition: all 0.55s;
  color: #ffffff;
}

.project__tech {
  width: 100%;
  position: absolute;
  top: 50%;
}
.project__tech p {
  text-align: center;
  margin: 0 auto;
  opacity: 1;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  padding: 2px;
}
.project__tech p:nth-child(1) {
  font-size: 25px;
}
.project__tech p:nth-child(2) {
  padding: 2px;
  background: #f99417;
  border: 0.2px dotted black;
}
.project__tech p:nth-child(3) {
  font-size: 20px;
}

@keyframes scale-up-ver-center {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes scale-up-ver-center-even {
  0% {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
    opacity: 0;
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
    opacity: 0.2;
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
    opacity: 0.5;
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
/* media query */

@media screen and (max-width: 480px) {
  .skill {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .portfolio {
    width: 100%;
    padding-top: 25px;
  }
  .portfolio h4 {
    padding-left: 40px;
  }
  .project--details {
    width: 300px;
    height: 300px;
  }
  .project--details img {
    width: 300px;
    height: 300px;
    position: relative;
  }
}
