@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&family=Ubuntu&family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid rgb(255, 255, 255); */
}

body {
  background-color: #000;
}

.main {
  padding-left: 5%;
}

@media screen and (max-width: 480px) {
  .main {
    padding: 0;
  }
}
@media (min-width: 478px) and (max-width: 767px) {
  .main {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .navbar {
    width: 6%;
  }
}
