@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


body {
    margin: 0px;
    padding: 0px;
    background-color: #212731;
}

.front-page {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #212731;
    color: white;
    display: flex;
}


.right-side {
    margin-top: 0;
    width: 45%;
}

.front-page h2 p {
    margin: 0;
    padding: 0;
}

.left-text {
    margin-top: 15vw;
    padding: 0 0 0 100px;

    width: 45%;
}

.left-text h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 55px;
    margin: 0;
}

.left-text p {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;

}

.btn {
    width: 200px;
    height: 50px;
    background-color: #f000;
    border-color: aliceblue;
    position: absolute;
}

.btn:hover {
    background-color: wheat;
    cursor: pointer;
}

.btn p {
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: aliceblue;
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
}

.btn p:hover {
    color: black;
}

.right-img {
    width: 200px;
    position: absolute;
    margin-left: -30%;
    margin-top: 50px;
}

@media only screen and (max-width: 834px) {
    .front-page {
        height: fit-content;
        align-items: flex-start;
        flex-direction: column;
    }

    .left-text {
        padding: 0 40px;
        margin: 130px 0;
    }

    .left-text h2 {
        font-family: 'Outfit', sans-serif;
        font-size: 40px;

    }

    .left-text p {
        font-size: 30px;
        font-family: 'Ubuntu', sans-serif;

    }

    .btn {
        width: 150px;
        height: 50px;
        background-color: #f000;
        border-color: aliceblue;
        position: absolute;
    }

    .btn p {
        font-size: 20px;
    }

    .right-side img {
        display: none;
    }
}